body {
	background-color: #eee;
    color: #252a2f;
    font: 14px/22px 'Open Sans', Arial, Helvetica, sans-serif;
}

header {
	background-color: #ffb400;
	color: #fff;
	padding-bottom: 15px;
}

header h1 {
	font-weight: bold;
}

h4 {
	font-size: 14px;
	text-transform: uppercase;
}

.btn-cart {
    background: #ffb400;
    color: #2f353b;
	font-size: 14px;
    text-transform: uppercase;
}
.btn-cart:hover {
	background: #da1121;
	color: white;
}

.cart-quantity {
	display: block;
	font-weight: bold;
	text-align: center;
	width: 20px;
}

.modal-title {
	font-weight: bold;
	text-transform: uppercase;
}

.product {
    background: #fff;
    border: 1px solid #e8e8e8;
    margin-bottom: 20px;
    padding: 15px 15px 20px;
    font: 'Roboto Condensed', sans-serif;
}

.product .image {
	padding: 20px 0;
	text-align: center;
}

.product .price {
    color: #2f353b;
    font-size: 18px;
    padding-right: 5px;
    padding-top: 5px;
}

@media (min-width: 600px) {
	.align-baseline {
	    align-items: baseline;
	    display: flex;
	}
}